In [5]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [4]:
import sys
!{sys.executable} -m pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.3.0-py3-none-any.whl (283 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [6]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [7]:
my_first_db = mongo['my_db']

In [8]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [9]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

[]

In [10]:
my_first_collection.insert_one({'name': 'Mickey'})

In [11]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [33]:
my_first_collection.insert_one({'name': 'Minnie','age':90})

In [34]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63e9396542e9f4f9a150ea0b'), 'name': 'Minnie Mouse', 'age': '90'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0c'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0d'), 'name': 'Daisy', 'species': 'duck'}
{'_id': ObjectId('63e944d742e9f4f9a150ea0e'), 'name': 'Minnie', 'age': 90}

In [35]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63e9396542e9f4f9a150ea0b'), 'name': 'Minnie Mouse', 'age': '90'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0c'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0d'), 'name': 'Daisy', 'species': 'duck'}
{'_id': ObjectId('63e944d742e9f4f9a150ea0e'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [36]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [37]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63e9396542e9f4f9a150ea0b'), 'name': 'Minnie Mouse', 'age': '90'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0c'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0d'), 'name': 'Daisy', 'species': 'duck'}
{'_id': ObjectId('63e944d742e9f4f9a150ea0e'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('63e944dc42e9f4f9a150ea0f'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e944dc42e9f4f9a150ea10'), 'name': 'Daisy', 'species': 'duck'}

In [38]:
query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('63e939fa42e9f4f9a150ea0c'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e944dc42e9f4f9a150ea0f'), 'name': 'Donald', 'species': 'duck'}

In [39]:
query = {'species': 'duck'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('63e939fa42e9f4f9a150ea0c'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e939fa42e9f4f9a150ea0d'), 'name': 'Daisy', 'species': 'duck'}
{'_id': ObjectId('63e944dc42e9f4f9a150ea0f'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('63e944dc42e9f4f9a150ea10'), 'name': 'Daisy', 'species': 'duck'}

In [40]:
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('63e944d742e9f4f9a150ea0e'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [41]:
query = {'age': {'$lt':90}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [42]:
query = {'name': 'Mickey', 'name':'Minnie'}
update = {'$set': {'name': 'Mickey Mouse', 'name':'Minnie Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63e9396542e9f4f9a150ea0b'),
  'name': 'Minnie Mouse',
  'age': '90'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0c'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0d'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('63e944d742e9f4f9a150ea0e'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea0f'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea10'),
  'name': 'Daisy',
  'species': 'duck'}]

In [43]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63e9396542e9f4f9a150ea0b'),
  'name': 'Minnie Mouse',
  'age': '90'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0c'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0d'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('63e944d742e9f4f9a150ea0e'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea0f'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea10'),
  'name': 'Daisy',
  'species': 'duck'}]

In [44]:
query = {'_id': 3}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63e9396542e9f4f9a150ea0b'),
  'name': 'Minnie Mouse',
  'age': '90'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0c'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0d'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('63e944d742e9f4f9a150ea0e'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea0f'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea10'),
  'name': 'Daisy',
  'species': 'duck'}]

In [45]:
query = {'age': {'$gt':88}}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63e9396542e9f4f9a150ea0b'),
  'name': 'Minnie Mouse',
  'age': '90'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0c'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e939fa42e9f4f9a150ea0d'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea0f'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('63e944dc42e9f4f9a150ea10'),
  'name': 'Daisy',
  'species': 'duck'}]

In [46]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63e9396542e9f4f9a150ea0b'),
  'name': 'Minnie Mouse',
  'age': '90'}]

In [47]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [48]:
my_first_db.list_collection_names()

[]

In [49]:
mongo.drop_database('my_db')

In [50]:
mongo.list_database_names()

['admin', 'config', 'local']